<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RipuDaman</title>
    <link rel="icon" href="/Images/Logo.jpg" type="image/x-icon">
    <meta name="author" content="RipuDaman">
    <meta name="description" content="A personal portfolio Website">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/Project.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=David+Libre&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-md fixed-top" id="main">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="mailto:damanripu664@gmail.com" class="nav-link"><strong>RipuDaman</strong></a>
            </li>
        </ul>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/#jump" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="contact" class="nav-link">Contact</a>
                </li>
                <li class="nav-item">
                    <a href="/#stack" class="nav-link">Tech Stack</a>
                </li>
                <!-- To add project sections functionality -->
                <li class="nav-item">
                    <a href="projects" class="nav-link">Projects</a>
                </li>
                <!-- <li class="nav-item"> Resume Section and Projects will be added
                    <a href="#" class="nav-link">Resume</a>
                </li> -->
            </ul>
        </div>
    </nav>
    <div class="header" style="text-align: center; margin-top: 5em;">
    <div class="display-4">
        Project carousel
    </div></div>
    <div class="content">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="/Images/Portfolio.png" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5><a href="https://github.com/ripu2/Personal-Website-Portfolio">Portfolio </a></h5>
                    <p style="color: white; font-weight: 10000;">Click on the above link to get inside the project</p>
                  </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/Images/Weather.jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5><a href="https://fathomless-depths-55079.herokuapp.com/" style="color: white; ">Live Weather Forcast</a></h5>
                    <p>Click on the above link to get inside the project</p>
                  </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/Images/Blog.jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5><a href="https://fathomless-depths-55079.herokuapp.com/" style="color: #7579e7; ">Blog Page</a></h5>
                    <p style="color: black;">Click on the above link to get inside the project</p>
                  </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/Images/VideoPlayer.png" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5><a href="https://github.com/ripu2/Video-Player">React based Video Player</a></h5>
                    <p style="color: white;">Click on the above link to get inside the project</p>
                  </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/Images/contact.png" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5><a href="https://github.com/ripu2/Contact-Manager">React based Contact Manager</a></h5>
                    <p style="color: black;">Click on the above link to get inside the project</p>
                  </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </div>
    <!-- <div class="content">
        <div class="container" style="text-align: center;">
            <div class="display-4" style="margin-bottom: 40px;">List of projects made so far</div>
        </div>
        <div class="container">
            <img src="/Images/Portfolio.png" style="height: 80%; width: 100%;">


            <div class="title">
                
            </div>

            <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, rem.<br> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam, quod. Harum itaque delectus <br>inventore temporibus magni! Voluptatum fuga reiciendis Lorem
                ipsum dolor sit amet.<br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, velit. voluptatem. <br> <a href="https://github.com/ripu2/Personal-Website-Portfolio" style="color: #28abb9;">Repo Link</a> </div>

        </div>
        <div class="container">
            <img src="/Images/Weather.jpg" style="height: 80%; width: 100%;">


            <div class="title">
                <a href="https://fathomless-depths-55079.herokuapp.com/">2. Live Weather Forcast</a>
            </div>

            <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, rem.<br> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam, quod. Harum itaque delectus <br>inventore temporibus magni! Voluptatum fuga reiciendis Lorem
                ipsum dolor sit amet.<br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, velit. voluptatem. <br> <a href="https://github.com/ripu2/Weather-Website" style="color: #28abb9;"> Repo Link</a></div>


        </div>
        <div class="container">
            <img src="/Images/Blog.jpg" style="height: 80%; width: 100%;">


            <div class="title">
                <a href="#">3. Blog Website</a>
            </div>

            <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, rem.<br> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam, quod. Harum itaque delectus <br>inventore temporibus magni! Voluptatum fuga reiciendis Lorem
                ipsum dolor sit amet.<br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, velit. voluptatem. <br> <a href="https://github.com/ripu2/Blog-Website" style="color: #28abb9;"> Repo Link</a></div>


        </div>
    </div> -->


   

    <script src="https://kit.fontawesome.com/94d26e8b6b.js" crossorigin="anonymous"></script>
    <script src="" async defer></script>
    <script>
        $(function() {
            $(document).scroll(function() {
                var $nav = $("#main");
                $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
            });
        });
    </script>
    <script src="https://kit.fontawesome.com/94d26e8b6b.js" crossorigin="anonymous"></script>
</body>
<footer id="footer">
    <a href="https://www.instagram.com/4742ripu/?hl=en" class="icon-links" style="text-decoration: none;"><i class="fab fa-instagram"></i></a>
    <a href="https://github.com/ripu2" class="icon-links" style="text-decoration: none;"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/ripu-daman-88a609159/" class="icon-links" style="text-decoration: none;"><i class="fab fa-linkedin"></i></a>
    <a href="mailto:damanripu664@gmail.com" class="fab" style="text-decoration: none;"> <i class="fas fa-envelope-open"></i></a>
    <p id="footer">© 2020-All rights reserved. Made with ❤️ by<a href="#" class="bottom-link"><strong> Ripu</strong> </a> </p>
</footer>

</html>